import React from 'react';
import styled from './{{pascalCase name}}.module.scss';
import { {{pascalCase name}}Props } from './{{pascalCase name}}.interface';

function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  
  return (
    <div className={ styled.{{name}} }>
        {{pascalCase name}} component
    </div>
  );
};

export default {{pascalCase name}};